.completedStyle {
    fontStyle: "italic";
    color: "#d35e0f";
    opacity: 0.4;
    textDecoration: "line-through";
  }

.todo-item {
  list-style-type: none;
  padding: 17px 0px;
  border-bottom: 1px solid #eaeaea;
}

.todo-item input {
  margin-right: 15px;
}

.todo-item button {
  background: #d35e0f;
  color: #fff;
  border: 1px solid #d35e0f;
  padding: 3px 7px;
  cursor: pointer;
  float: right;
  outline: none;
}
