.form-container {
  display: flex;
  width: 100%;
}

.input-submit {
  flex: 2;
  border: none;
  background: #038203;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
  width: 20%;
  outline: none;
}

.input-text {
  flex: 8;
  font-size: 14px;
  padding: 12px 15px;
  border: 1px solid #cecece;
  outline: none;
  font-weight: 400;
  max-width: 80%;
}

.input-text::placeholder {
  color: rgb(17, 17, 17);
  opacity: 0.8;
}
