.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  line-height: 1.4;
  color: #1f1f1f;
}
